<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="header :: header"/>
    <body>
        <nav th:replace="nav :: nav"/>
        <div class="container">
            <div>
                <h3>Mjesta u obradi:</h3>
            </div>
            <hr/>
            <table class="table table-hover" th:if="${cities != null}">
                <thead>
                    <th>#</th>
                    <th>Naziv</th>
                    <th>Širina</th>
                    <th>Dužina</th>
                    <th>Stanje</th>
                </thead>
                <tbody>
                    <tr th:each="city : ${cities}">
                        <td><span th:text="${city.id}"/></td>
                        <td><span th:text="${city.name}"/></td>
                        <td><span th:text="${city.coord.lat}"/></td>
                        <td><span th:text="${city.coord.lon}"/></td>
                        <td><span th:text="${city.status}"/></td>
                        <td>
                            <form th:action="@{/add}" method="post">
                                <input type="hidden" name="cityid" th:value="${city.id}"/>
                                <input type="hidden" name="cityname" th:value="${city.name}"/>
                                <input type="hidden" name="citylat" th:value="${city.coord.lat}"/>
                                <input type="hidden" name="citylon" th:value="${city.coord.lon}"/>
                                <button type="submit" class="btn btn-default">Dodaj</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div th:if="${cities != null and #lists.isEmpty(cities)}" class="alert alert-warning" role="alert">
                Dodali ste sva mjesta koji su u obradi.
            </div>
        </div>
    </body>
</html>
